*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #181818;
    font-size: 1.2rem;
    font-weight: bold;
}

.color1{
    background-color: red;
}
.color2{
    background-color: orange;
}
.color3{
    background-color: yellow;
}
.color4{
    background-color: green;
}
.color5{
    background-color: blue;
}
.color6{
    background-color: darkblue;
}
.color7{
    background-color: purple;
}
.color8{
    background-color: antiquewhite;
}
.color9{
    background-color: aquamarine;
}
.color10{
    background-color: darkgray;
}